body{
	background-color:pink;
	font-family:century gothic;
}

.titlename {
	font-weight:bold;
	font-size:40px;
	margin-left: 0%;
    margin-right: 0%;
}

#faceimage{
	position:absolute;
	left:0%;
	top:40px
}

#resumetext{
	margin-left: 0%;
    margin-right: 5%;
}

#biotext{
	margin-left:5%;
	margin-right:5%;
}

h1 {
	font-size:20px;
}

#indexresumetext{
	position:absolute;
	left:26%;
	top:20px;
}

#indexbiotext{
	position:absolute;
	left:46%;
	top:20px;
}

#indexdisclaimertext{
	position:absolute;
	top:200px;
	margin-left:0%
}
