body{
	background-color:pink;
	font-family:century gothic;
}

.titlename {
	font-weight:bold;
	font-size:40px;
	margin-left: 25%;
    margin-right: 25%;
}

#indexresumetext{
	position:absolute;
	left:29%;
	top:50px;
}

#indexbiotext{
	position:absolute;
	left:43%;
	top:50px;
}

#indexdisclaimertext{
	position:absolute;
	top:450px;
}


#faceimage{
	position:absolute;
	left:26%;
	top:80px;
}

#resumetext{
	margin-left: 0%;
    margin-right: 50%;
}

#biotext{
	margin-left:0%;
	margin-right:60%;
}

h1 {
	font-size:20px;
}